{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>Welcome, {{ user.first_name }} {{ user.last_name }}</h1>
        </div>
        <p>You can submit a new paper under the Journal, <a href="{% url 'journal:journal_submit' %}">submit</a> option.
        </p>

        {# Papers that need review. #}
        {% if review_papers %}
            <div class="panel panel-default">
                <div class="panel-heading"><span class="glyphicon glyphicon-globe"></span> Papers where you are a
                    reviewer
                </div>
                <div class="panel-body">
                    <p>Please review the following papers.</p>
                    <table class="table" id="result-table">
                        <thead>
                        <tr>
                            <th>Paper Title</th>
                            <th>Review Status</th>
                            <th>Manuscript</th>
                            <th class="hidden-xs">Cover Letter</th>
                            <th class="hidden-xs">Supplementary Files</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for paper in review_papers %}
                            <tr>
                                <td><a href="{{ paper.get_absolute_url }}">{{ paper.title|truncatechars:30 }}</a></td>
                                <td>{{ paper.get_status_display }}</td>
                                <td>
                                    {% if paper.manuscript %}
                                        <a href="{{ paper.manuscript.url }}">Download</a>
                                    {% else %}
                                        Not available
                                    {% endif %}
                                </td>
                                <td class="hidden-xs">
                                    {% if paper.cover_letter %}
                                        <a href="{{ paper.cover_letter.url }}">Download</a>
                                    {% else %}
                                        Not available
                                    {% endif %}
                                </td>
                                <td class="hidden-xs">
                                    {% if paper.supplementary_materials %}
                                        <a href="{{ paper.supplementary_materials.url }}">Download</a>
                                    {% else %}
                                        Not available
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        {% endif %}

        {# Submitted papers #}
        <div class="panel panel-default">
            <div class="panel-heading"><span class="glyphicon glyphicon-globe"></span> Your submitted papers</div>
            <div class="panel-body">
                {% if not papers %}
                    <p>You did not submit any papers.</p>
                {% else %}
                    <p>Click on the paper's title to see more details.</p>
                    <table class="table" id="result-table">
                        <thead>
                        <tr>
                            <th>Paper Title</th>
                            <th>Review Status</th>
                            <th>Manuscript</th>
                            <th class="hidden-xs">Cover Letter</th>
                            <th class="hidden-xs">Supplementary Files</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for paper in papers %}
                            <tr>
                                <td><a href="{{ paper.get_absolute_url }}">{{ paper.title|truncatechars:30 }}</a></td>
                                <td>{{ paper.get_status_display }}</td>
                                <td>
                                    {% if paper.manuscript %}
                                        <a href="{{ paper.manuscript.url }}">Download</a>
                                    {% else %}
                                        Not available
                                    {% endif %}
                                </td>
                                <td class="hidden-xs">
                                    {% if paper.cover_letter %}
                                        <a href="{{ paper.cover_letter.url }}">Download</a>
                                    {% else %}
                                        Not available
                                    {% endif %}
                                </td>
                                <td class="hidden-xs">
                                    {% if paper.supplementary_materials %}
                                        <a href="{{ paper.supplementary_materials.url }}">Download</a>
                                    {% else %}
                                        Not available
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>

        {# Reviewed papers #}
        {% if reviewed_papers %}
            <div class="panel panel-default">
                <div class="panel-heading"><span class="glyphicon glyphicon-globe"></span> Reviewed papers</div>
                <div class="panel-body">
                    <p>Papers where you were a reviewer.</p>
                    <table class="table" id="result-table">
                        <thead>
                        <tr>
                            <th>Paper Title</th>
                            <th>Review Status</th>
                            <th>Manuscript</th>
                            <th class="hidden-xs">Cover Letter</th>
                            <th class="hidden-xs">Supplementary Files</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for paper in reviewed_papers %}
                            <tr>
                                <td><a href="{{ paper.get_absolute_url }}">{{ paper.title|truncatechars:30 }}</a></td>
                                <td>{{ paper.get_status_display }}</td>
                                <td>
                                    {% if paper.manuscript %}
                                        <a href="{{ paper.manuscript.url }}">Download</a>
                                    {% else %}
                                        Not available
                                    {% endif %}
                                </td>
                                <td class="hidden-xs">
                                    {% if paper.cover_letter %}
                                        <a href="{{ paper.cover_letter.url }}">Download</a>
                                    {% else %}
                                        Not available
                                    {% endif %}
                                </td>
                                <td class="hidden-xs">
                                    {% if paper.supplementary_materials %}
                                        <a href="{{ paper.supplementary_materials.url }}">Download</a>
                                    {% else %}
                                        Not available
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}