{% extends "base.html" %}
{% block title %}Account Settings{% endblock %}g
{% block content %}
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>Account Settings {% block setting-name %}{% endblock %}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
                <ul class="list-unstyled">
                    <li><a href="{% url 'account:personal_details' %}">Edit Personal Details</a></li>
                    <li><a href="{% url 'account:email_change' %}">Change Email Address</a></li>
                    <li><a href="{% url 'account:password_change' %}">Change Password</a></li>
                </ul>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                {% block settings %}
                {% endblock %}
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}