/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer {
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    border-top: 1px solid #eeeeee;
    background-color: #212121;
    color: #ccc;
}

footer > .container {
    margin-top: 10px;
}

/* Custom page CSS
-------------------------------------------------- */

.img-responsive {
    margin: 0 auto;
}

a, a:visited, a:hover {
    text-decoration: none;
}

.section-statstics {
    background-color: #c5cae9;
    padding-bottom: 2.5rem;
}

.count-number {
    font-size: 4em;
    font-weight: bold;
    width: 4em;
}

/* Carousel CSS
-------------------------------------------------- */

.carousel {
    width: 100%;
}

.carousel-item > img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
}

.carousel-caption > h3 {
    padding: .4rem;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

/* Footer CSS
-------------------------------------------------- */

footer hr {
    width: 100%;
    border-color: #999999;
}

/* I wish React had out-of-box support for sass :( */
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
    margin-bottom: 0;
}

footer h5 {
    color: #676767;
    margin-bottom: 1rem;
}

footer a, footer a:visited {
    color: #ccc;
    padding-left: 0;
}

footer a:hover {
    color: #777;
    font-style: normal;
    text-decoration: none;
}

.copyright {
    padding: .4rem;
}

p {
    margin-bottom: 0;
    padding-bottom: .5rem;
}

footer .child-20 {
    flex: 1 0 20%;
}

footer .child-30 {
    flex: 1 0 30%;
}

footer .child-40 {
    flex: 1 0 40%;
}

/* AuthorRow CSS
-------------------------------------------------- */

.authorRow {
    background-color: #e3f2fd;
    padding-bottom: 2.5rem;
}

.authorRow ul {
    /*list-style-type: none;*/
}

.author-card li p {
    margin: 0;
    padding: 0;
}

.child {
    flex: 1 0 25%;
}

.author-card a {
    padding-left: .5rem;
    padding-right: .5rem;
}

.author-card img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
}