{% extends 'base.html' %}
{% block title %}Submission Guidelines{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>Submission Guidelines</h1>
            </div>
        </div>
        <div class="row text-justify">
            <div class="col-md-11 col-md-offset-1 col-lg-11 col-lg-offset-1">
                <p>Please send them @ my email, I'm gonna attach pdf after the text.</p>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr>
    </div>
{% endblock %}