{% extends 'base.html' %}
{% block title %}History{% endblock %}

{% block content %}
    <div class="row">
        <div class="page-header">
            <h1>A short history of the JOURNAL</h1>
        </div>
    </div>
    <div class="row text-justify">
        <div class="col-md-11 col-md-offset-1 col-lg-11 col-lg-offset-1">
            <p>
                The history of this journal of the POLITEHNICA University of Timisoara is strongly related to its
                creation
                under the name Polytechnic School of Timisoara (Ecole Polytechnique de Timisoara).
                Due to the changes of names and development of new areas of specialization, the university journal has
                been
                adapted several times during its long history. These adaptations are presented below in a synthetic
                history.
                Polytechnic School of Timisoara
            </p>
            <p>1925 The first number in a single series for all areas of specialization in technical, mathematical,
                physical and chemical sciences</p>
            <p>1925 and Bulletin Scientifique de l'Ecole Polytechnique de Timisoara</p>
            <p>1928-1947 (Comptes Rendus des Seances de la Societe Scientifique de Timisoara)</p>
            <p>1948 Bulletin de Science et Technique de la Polytechnique de Timisoara, ISSN 0563-5594</p>
            <p>1949 - Change of name to Polytechnic Institute of Timisoara</p>


            <p>1949 Buletinul de Stiinta si Tehnica al Institutului Politehnic din Timisoara (Bulletin for Science and
                Technique of Polytehnic Institute of Timisoara, Naucino-tehniceskij biuleten' Politehniceskogo Instituta
                Timisoara, Bulletin des Science et Technique de L'Institut Polytechnique de Timisoara)
                1956-1969 Buletinul stiintific si tehnic al Institutului Politehnic Timisoara (Scientific and Technical
                Bulletin of Polytehnic Institute of Timisoara), New series ISSN 0373-4374</p>
            <p> 1970 Editing on areas of specialization (series) specific to the main engineering fields of the
                Institute</p>

            <ul>
                <li>- Chemical Series, ISSN 0366-3701</li>
                <li>- Civil Engineering Series, ISSN 1220-0573</li>
                <li>- Electrical Engineering Series, ISSN 0373-4382</li>
                <li> - Mathematics-Physics-Theoretical and applied mechanics Series, ISSN 0366-3779</li>

            </ul>


            <p>1970-1971 Buletinul stiintific si tehnic al Institutului Politehnic Timisoara, Seria Electrotehnica
                (Scientific and Technical Bulletin of Polytechnic Institute of Timisoara, Electrical Engineering
                Series),
                ISSN 0373-4382</p>
            <p> 1972 - Change of name to "Traian Vuia" Polytechnic Institute of Timisoara
            </p>
            <p> 1972 - 1974 Buletinul stiintific si tehnic al Institutului Politehnic "Traian Vuia" Timisoara, Seria
                Electrotehnica (Scientific and Technical Bulletin of "Traian Vuia" Polytechnic Institute of Timisoara,
                Electrical Engineering Series), ISSN 0373-4382</p>
            <p> 1975 - 1977 Buletinul stiintific si tehnic al Institutului Politehnic "Traian Vuia" Timisoara
                (Scientific
                and Technical Bulletin of "Traian Vuia" Polytechnic Institute of Timisoara) [Single series] Mathematics,
                Physics, Theoretical and applied mechanics, Electrical engineering, Civil engineering, Chemistry, ISSN
                1220-0581</p>
            <p>
                1978-1990 Buletinul stiintific si tehnic al Institutului Politehnic "Traian Vuia" Timisoara (Scientific
                and
                Technical Bulletin of "Traian Vuia" Polytechnic Institute of Timisoara, Electrical Engineering Series),
                ISSN
                1220-0603</p>

            <p>1990 - Change of name to Technical University of Timisoara</p>

            <p> 1991-1992 Buletinul stiintific si tehnic al Universitatii Tehnice din Timisoara Scientific and Technical
                Bulletin of Technical University of Timisoara, Electrical Engineering Series), ISSN 1221-2911</p>

            <p> 1992 Division of Electrical Engineering Series in two ones:
                Electrical, Electronic and Telecommunication Engineering Series
                Automation and Computer Science Series
                Dedicated to Transactions on Automatic Control and Computer Science</p>

            <p> 1992-1995 Buletinul stiintific si tehnic al Universitatii Tehnice din Timisoara, Seria Automatica si
                Calculatoare (Scientific and Technical Bulletin of Technical University of Timisoara, Transactions on
                Automatic Control and Computer Science), ISSN 1223-7299
                1996 - Change of name to "Politehnica" University of Timisoara</p>

            <p> 1996- Buletinul stiintific al Universitatii "Politehnica" din Timisoara. România, Seria Automatica si
                Calculatoare (Scientific Bulletin of "Politehnica" University of Timisoara, Romania, Transactions on
                Automatic Control and Computer Science), ISSN 1224-600X</p>
        </div>
    </div>
    <div class="clearfix"></div>
    <hr>
{% endblock %}