{% extends 'base.html' %}
{% block title %}SCIENTIFIC BULLETIN of The POLITEHNICA University of Timisoara, ROMANIA - Transactions on AUTOMATIC
    CONTROL and COMPUTER SCIENCE{% endblock %}

{% block content %}
    <div class="jumbotron">

        <h1 class="display-3">Novel Computation & Control</h1>
        <hr class="my-4">
        <p>(Publisher: Editura POLITEHNICA,
            Bd. Republicii, no. 9, 300159 Timisoara)
            Frequency: 4 Issues per year
            Indexed by: Index COPERNICUS (Journals Master List)
            VINITI (All-Russian Institute of Scientific and Technical Information)
            (CNCSIS B+ journal)
            The journal has an universal impact factor
            (UIF) of 0.9210 (2013)
        </p>
    </div>

    <div class="editorial-board-panel">
        <div class="row text-center">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="row">
                    <div class="col-lg-12 col-xs-12">
                        <strong>Editor-in-Chief</strong>
                        <hr>
                        <p>Mihai Udrescu, Universitatea Politehnica Timisoara</p>
                        <hr>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-xs-12">
                        <strong>Associate Editor-in-Chief</strong>
                        <hr>

                        <p> Radu Marculescu, Carnegie Mellon University</p>
                        <p> Paul Bogdan, University of Southern California</p>
                        <p> Lucian Prodan, Universitatea Politehnica Timisoara</p>
                        <hr>
                        <!-- Yes, this page is ugly because I'm not a UX designer.... -->
                    </div>
                </div>

            </div>
            <div class="row text-center">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                    <div class="row">
                        <div class="col-lg-12 col-xs-12">
                            <p><strong>Editors</strong></p>
                            <hr>
                            <p>Hitoshi Oi, University of Aizu Japan</p>
                            <p>Jean Luca Tempesi, University of York UK</p>
                            <p>Ioan Dumitrache, Universitatea Politehnica Bucuresti</p>
                            <p>Liviu Miclea, Universitatea Tehnica din Cluj Napoca</p>
                            <p>Lucian Vintan, Universitatea "Lucian Blaga" din Sibiu</p>
                            <p>Radu-Emil Precup, UPT</p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
{% endblock %}