{% extends 'base.html' %}
{% block title %}SCIENTIFIC BULLETIN of The POLITEHNICA University of Timisoara, ROMANIA - Transactions on AUTOMATIC
    CONTROL and COMPUTER SCIENCE{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1>ISSN 1224-600X </h1>
                <p>(Publisher: Editura POLITEHNICA,
                    Bd. Republicii, no. 9, 300159 Timisoara)
                    Frequency: 4 Issues per year
                    Indexed by: Index COPERNICUS (Journals Master List)
                    VINITI (All-Russian Institute of Scientific and Technical Information)
                    (CNCSIS B+ journal)
                    The journal has an universal impact factor
                    (UIF) of 0.9210 (2013)</p>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <ul class="list-unstyled">
                <li><p><strong>Editor-in-Chief</strong></p></li>
                <li><p>Mihai Udrescu, UPT</p></li>
            </ul>

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <ul class="list-unstyled">
                <li><p><strong>Associate Editor-in-Chief</strong></p></li>
                <li><p>Radu Marculescu, Carnegie Mellon University</p></li>
                <li><p>Paul Bogdan, University of Southern California</p></li>
                <li><p>Lucian Prodan, UPT</p></li>
            </ul>
        </div>
    </div>
        <div class="row text-center">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <ul class="list-unstyled">
                <li><p><strong>Editors</strong></p></li>
                <li><p>Hitoshi Oi, University of Aizu Japan</p></li>
                <li><p>Jean Luca Tempesi, University of York UK</p></li>
                <li><p>Ioan Dumitrache, Universitatea Politehnica Bucuresti</p></li>
                <li><p>Liviu Miclea, Universitatea Tehnica din Cluj Napoca</p></li>
                <li><p>Lucian Vintan, Universitatea "Lucian Blaga" din Sibiu</p></li>
                <li><p>Radu-Emil Precup, UPT</p></li>
            </ul>
        </div>
    </div>
    <hr>
{% endblock %}