{% extends 'base.html' %}
{% block title %}Paper: {{ paper.title }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>#{{ paper.id }} - {{ paper.title|truncatechars:30 }}</h1>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
            <h3>Status: {{ paper.get_status_display }}</h3>
            <h3>Abstract</h3>
            <p>{{ paper.description|capfirst }}</p>
            <h3>Files:
                {% if paper.manuscript %}
                    <a href="{{ paper.manuscript.url }}">Manuscript</a>
                {% endif %}
                {% if paper.cover_letter %}
                    ,
                    <a href="{{ paper.cover_letter.url }}">Cover Letter</a>
                {% endif %}
                {% if paper.supplementary_materials %}
                    ,
                    <a href="{{ paper.supplementary_materials.url }}">Supplementary Materials</a>
                {% endif %}
            </h3>
            <h2>Reviews</h2>
            {% if can_review %}
                <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#reviewModal">Add
                    Review
                </button>
            {% endif %}
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            {% if reviews %}
                {% for review in reviews %}
                    <div class="review text-justify">
                        <h4>{{ review }} <span class="pull-right">Rating: {{ review.recommendation }}</span></h4>
                        <p>
                            {{ review.comment }}
                        </p>
                        {% if review.additional_file %}
                            <p>Additional File: <a href="{{ review.additional_file.url }}">Download</a></p>
                        {% endif %}
                        <hr>
                    </div>
                {% endfor %}
            {% else %}
                <p>Nobody has reviewed this paper. Yer.x§</p>
            {% endif %}
        </div>
    </div>

    <div id="reviewModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add a new review</h4>
                </div>
                <div class="modal-body">
                    <form method="post" action=".">
                        {{ review_form.as_p }}
                        {% csrf_token %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Submit</button>
                </div>
            </div>

        </div>
    </div>
{% endblock %}