{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}Paper: {{ paper.title }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>#<span id="paper-id">{{ paper.id }}</span> - {{ paper.title|truncatechars:30 }}</h1>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
            {% if request.user.is_staff %}
                <div class="panel panel-default">
                    <div class="panel-heading">Reviewer Control Panel</div>
                    <div class="panel-body">
                        <div id="reviewer-control-panel">
                            {% verbatim %}
                            <div v-show="invitationHasSucceeded" style="display: none"
                                 class="alert alert-success alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Success!</strong> {{ responseMessage }}!
                            </div>
                            <div v-show="invitationHasFailed" style="display: none"
                                 class="alert alert-danger alert-dismissable">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>Error!</strong> {{ responseMessage }}!
                            </div>
                            <div>
                                <div class="help-block">
                                    <button type="button" class="btn btn-default btn-primary" v-on:click="addReviewer">
                                        Invite a Reviewer
                                    </button>
                                </div>

                                <div v-show="showAddReviewer" style="display: none" class="form-group well">
                                    <label for="reviewer-email">Email address</label>
                                    <div class="input-group ">
                                        <span class="input-group-addon" id="basic-addon1">@</span>
                                        <input v-model="reviewerEmail" id="reviewer-email" type="email"
                                               class="form-control"
                                               placeholder="Email" required>
                                    </div>

                                    <div class="input-group">
                                        <p class="help-block">The user will receive an email to confirm his
                                            participation to
                                            the review.</p>
                                        <button type="submit" class="btn btn-default btn-primary"
                                                v-on:click="inviteReviewer">
                                            Invite
                                        </button>
                                    </div>
                                </div>
                            </div>
                            {% endverbatim %}
                        </div>
                        <div id="reviewer-invited-reviewers">
                            {% verbatim %}
                            <div v-show="showInvitedReviewers" style="display: none">
                                    <h4>Invited Reviewers:</h4>
                                    <ul>
                                        <li v-for="(reviewer, i) in invitedReviewers" :key="reviewer.email"
                                            v-on:remove="invited_reviewers.splice(i, 1)">

                                            {{ reviewer.email }} (<a
                                                @click="cancelInvite(i, reviewer.email, reviewer.name)">Cancel</a>)

                                        </li>
                                    </ul>
                            </div>
                            {% endverbatim %}
                        </div>
                        {% if paper.reviewers.all %}
                            <h4>Reviewers:</h4>
                            <ul>
                                {% for reviewer in paper.reviewers.all %}
                                    <li>{{ reviewer }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <h4>There aren't any reviewers for this paper!</h4>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <div class="panel panel-default">
                <div class="panel-heading">Paper Information</div>
                <div class="panel-body">
                    <h4>Status: {{ paper.get_status_display }}</h4>
                    <h4>Abstract</h4>
                    <p>{{ paper.description|capfirst }}</p>
                    <hr>
                    <h4>Files:
                        {% if paper.manuscript %}
                            <a href="{{ paper.manuscript.url }}">Manuscript</a>
                        {% endif %}
                        {% if paper.cover_letter %}
                            ,
                            <a href="{{ paper.cover_letter.url }}">Cover Letter</a>
                        {% endif %}
                        {% if paper.supplementary_materials %}
                            ,
                            <a href="{{ paper.supplementary_materials.url }}">Supplementary Materials</a>
                        {% endif %}
                    </h4>
                </div>
            </div>
            <hr>

            <h2>Reviews</h2>

            {% if can_review %}
                <a href="{% url 'journal:paper_review' paper.id %}" target="_blank">Add a review</a>
            {% endif %}
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
            {% if reviews %}
                {% for review in reviews %}
                    {# Show the review only if the user is a staff member, the user wrote the review, the review is an editor review #}
                    {% if review.editor_review or user.is_staff or user == review.user %}
                        <div class="panel panel-default">
                            <div class="review text-justify">
                                <div class="panel-body">
                                    {% if review.editor_review %}
                                        <b>Editor Review<span
                                                class="pull-right">Rating: {{ review.recommendation }}</span></b>
                                    {% else %}
                                        <b>Review #{{ forloop.counter }} <span
                                                class="pull-right">Rating: {{ review.recommendation }}</span></b>
                                    {% endif %}

                                    <div class="panel">
                                        <div class="panel-body">
                                            <b><span class="small">Comment:</span></b>
                                            <p>
                                                {{ review.comment }}
                                            </p>
                                        </div>
                                    </div>

                                    {% if review.additional_file %}
                                        <p>Additional File: <a href="{{ review.additional_file.url }}">Download</a></p>
                                    {% endif %}

                                    {# Confidential data displayed only to the editor #}
                                    {% if user.is_staff %}
                                        <div class="panel panel-warning">
                                            <div class="panel-heading">
                                                <h5>Confidential data</h5>
                                            </div>
                                            <div class="panel-body">
                                                <h5>
                                                    Reviewer: {{ review.user.first_name }} {{ review.user.last_name }}</h5>
                                                <h5>Appropriateness: {{ review.get_appropriate_display }}</h5>
                                                <h5>Confidential comment:</h5>
                                                <p>
                                                    {{ review.confidential_comment }}
                                                </p>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <hr>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>Nobody has reviewed this paper. Yet.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{# The add Reviewer functionality is handled by a Vue app. #}
{% block scripts %}
    <script src="{% static "js/journal/paper_detail.js" %}"></script>
{% endblock %}