{% extends 'base.html' %}
{% block title %}Profile{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="page-header">
                <h1>Journal aim and profile. Publication conditions.</h1>
            </div>
        </div>
        <div class="row text-justify">
            <div class="col-md-11 col-md-offset-1 col-lg-11 col-lg-offset-1">
                <p>The journal is dedicated to publishing original theoretical and applicative research results and
                    overviews on the current research status in Automation, Computer Science and Applied
                    Informatics.</p>
                <p>The Bulletin has the periodicity of four issues per year starting with 2006.</p>
                <p>The access to publication of research results is open to researchers all over the world. Only
                    original
                    manuscripts are considered.</p>
                <p>The following conditions have to be fulfilled by a paper in order to be accepted for publication in
                    this
                    journal:</p>
                <ul>
                    <li>Progress of review steps, finalized by a publication proposal,</li>
                    <li>The paper must be original,</li>
                    <li>The paper should not have been previously or simultaneously submitted to other journals; to
                        avoid
                        any misunderstandings the editing format will include the receipt date and the acceptance for
                        publication date,
                    </li>
                    <li>The paper must meet strictly the editing format required by the Editorial Board.</li>
                </ul>
                <p>All accepted papers are published in the order set by the Editorial Board but not later then 6 months
                    after the acceptance.</p>
                <p>The contents of each number together with the abstracts, keywords and references (starting with 2006)
                    are
                    accessible on the journal webpage.</p>
                <p>Full papers can be asked only from the authors. </p>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr>
    </div>
{% endblock %}