{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Submit a paper{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Submit a paper</h1>
        <p>You will be selected as the corresponding author.</p>
    </div>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ field.name|escape }}: {{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ field.name|escape }}: {{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <form action="{% url 'journal:journal_submit' %}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Title</label>
            {% render_field form.title class="form-control" id="title" placeholder="Title" %}
        </div>
        <div class="form-group">
            <label for="description">Abstract</label>
            {% render_field form.description class="form-control" id="description" placeholder="Describe your paper" %}
        </div>
        <legend>Authors</legend>
        <div class="form-group" id="author_row">
            <div class="row pull-right">
                <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                    <button type="button" id="remove_author" class="btn btn-default">Delete Author</button>
                    <button type="button" id="add_author" class="btn btn-default">Add Author</button>
                </div>
            </div>
            <div class="row"></div>
            <div class="author_row row">
                <div class="col-lg-2 col-md-2">
                    <label>First Name</label>
                    <input type="text" class="form-control" maxlength="255" name="authors_first_name"
                           required="required">
                </div>
                <div class="col-lg-2 col-md-2">
                    <label>Last Name</label>
                    <input type="text" class="form-control" maxlength="255" name="authors_last_name"
                           required="required">
                </div>
                <div class="col-lg-2 col-md-2">
                    <label>Email</label>
                    <input type="email" class="form-control" maxlength="255" name="authors_email" required="required">
                </div>
                <div class="col-lg-2 col-md-2">
                    <label>Affiliation</label>
                    <input type="text" class="form-control" maxlength="255" name="authors_affiliation"
                           required="required">
                </div>
                <div class="col-lg-2 col-md-2">
                    <label>Country</label>
                    <input type="text" class="form-control" maxlength="255" name="authors_country" required="required">
                </div>
                <div class="col-lg-2 col-md-2">
                    <label>Corresponding Author</label>
                    <select name="authors_corresponding" class="form-control">
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </div>
                <hr class="visible-xs visible-sm">
            </div>
        </div>
        <legend>Files</legend>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                    <label for="file">Manuscript</label>
                    {% render_field form.manuscript class="form-control-static" id="file" %}
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                    <label for="cover-letter">Cover Letter</label>
                    {% render_field form.cover_letter class="form-control-static" id="cover-letter" %}
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                    <label for="supplementary">Supplementary Materials</label>
                    {% render_field form.supplementary_materials class="form-control-static" id="supplementary" %}
                </div>
            </div>
        </div>
        {% csrf_token %}
        <div class="row">
            <div class="form-control-static">
                <div class="col-xs-6 col-md-6 col-sm-6 col-lg-6">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
    <hr>
    <script>
        function removeAuthor() {
            var children = document.getElementsByClassName('author_row');
            if (children.length > 1) {
                document.getElementById('author_row').removeChild(children[children.length - 1]);
            }
        }
        function addAuthor(authorRow) {
            var refference = document.getElementById('author_row');
            document.getElementById('author_row').insertBefore(authorRow.cloneNode(true), refference.lastChild);
        }
        (function () {
            var authorRow = document.getElementsByClassName('author_row')[0].cloneNode(true);
            // add event listener
            document.getElementById('add_author').addEventListener('click', function () {
                addAuthor(authorRow);
            });
            document.getElementById('remove_author').addEventListener('click', function () {
                removeAuthor();
            });
        })();
    </script>
{% endblock %}