{% load staticfiles %}
{% load cms_tags sekizai_tags %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="author" content="Metonimie">
    <link rel="icon" href="{% static "favicon.ico" %}">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
    {% render_block "css" %}
</head>
<body>

{# Needed by DJANGO CMS in order to display the toolbar. #}
{% cms_toolbar %}

{# NAVBAR AREA BEGIN #}
<div class="container">
    <div class="navigation-bar" id="top">
        <nav class="navbar navbar-expand-md navbar-light bg-red"><a href="/" class="navbar-brand">Novel Computation
            &amp; Control</a>
            <button type="button" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav"></ul>
                <ul class="mr-auto navbar-nav">

                    <li class="nav-item {% if section == 'account' %}active{% endif %}"><a
                            href="{% url 'account:dashboard' %}" class="nav-link">Account</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false">Journal</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{% url 'journal:journal_home' %}">Home</a>
                            <a class="dropdown-item" href="{% url 'journal:journal_history' %}">History</a>
                            <a class="dropdown-item" href="{% url 'journal:journal_profile' %}">Profile</a>
                            <a class="dropdown-item" href="{% url 'journal:journal_review' %}">Review</a>
                            <a class="dropdown-item" href="{% url 'journal:journal_guidelines' %}">Submission
                                Guidelines</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'journal:journal_submit' %}">Submit a paper</a>
                        </div>
                    </li>

                    <li class="nav-item {% if section == 'issues' %}active{% endif %}"><a
                            href="{% url 'issues:issues_home' %}"
                            class="nav-link">Issues</a>
                    </li>

                </ul>
                <ul class="ml-auto navbar-nav">
                    {% if not user.is_authenticated %}
                        <li class="nav-item"><a href="{% url 'account:register' %}" class="nav-link">Register</a></li>
                        <li class="nav-item"><a href="{% url 'account:login' %}" class="nav-link">Login</a></li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="true" aria-expanded="false">{{ user.username }}</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'account:personal_details' %}">Edit Personal
                                    Details</a>
                                <a class="dropdown-item" href="{% url 'account:password_change' %}">Change Password</a>
                                <a class="dropdown-item" href="{% url 'account:email_change' %}">Change Email</a>
                                <a class="dropdown-item"
                                   href="mailto:nutiudenis@hotmail.com,alext@cs.upt.ro,mudrescu@cs.upt.ro">Feedback</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a>
                            </div>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </nav>
    </div>
</div>

<div class="clearfix"></div>
{# MAIN AREA #}
<main role="main">
    {# Messages that are passed here via Django views. #}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
    {# End #}

    {# Main Content Area #}
    {% block content %}
    {% endblock %}
    {# End #}
</main>

<div class="clearfix"></div>
{# FOOTER AREA #}
<footer class="container-fluid footer">
    <section class="d-flex flex-row flex-wrap">
        <div class="child-40 flex-column p-5 ">
            <h2>Novel</h2>
            <h2>Computation &</h2>
            <h2>Control</h2>
            <p></p>
            <p>Bulevardul Vasile Pârvan 2, <b>Timișoara</b> 300223</p>
            <p><b>Tel:</b> <a href="tel:777-7777-7777">777-7777-7777</a></p>
        </div>
        <div class="child-30 flex-column p-5 ">
            <h5>About Us</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="/">Homepage</a>
                <li><a href="/">About Us</a></li>
                <li><a href="https://www.upt.ro/">Univeristatea Politehnica Timisoara</a></li>
                <li><a href="">Guidelines</a></li>
                <li><a href="https://github.com/NovelComputationAndControl"
                       target="_blank" rel="noopener noreferrer">Github</a></li>
                <li><a>Contact</a></li>
            </ul>
        </div>
        <div class="child-20 flex-column p-5 ">
            <h5>Legal</h5>
            <ul class="align-self-start list-unstyled">
                <li>
                    <a>Privacy Policy</a></li>
                <li>
                    <a>Cookie Policy</a></li>
            </ul>
        </div>
    </section>
    <hr/>
    <section class="text-center copyright">
        <p>© {% now "Y" %} Novel Computation & Control.</p>
    </section>
</footer>

{# JavaScripts and what not #}
<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/vue.js" %}"></script>
{# TODO: Use production vue: vue.min.js #}
{% render_block "js" %}
{% block scripts %}{% endblock %}
</body>
</html>